body {
  background-color: #F8FAFC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.headline > h1 {
  color: #3B3030;
  font-size: 5rem;
}
